:root {
  /* flex column math */
  --flex-1-12: calc(100 * 1 / 12);
  --flex-2-12: calc(100 * 2 / 12);
  --flex-3-12: calc(100 * 3 / 12);
  --flex-4-12: calc(100 * 4 / 12);
  --flex-5-12: calc(100 * 5 / 12);
  --flex-6-12: calc(100 * 6 / 12);
  --flex-7-12: calc(100 * 7 / 12);
  --flex-8-12: calc(100 * 8 / 12);
  --flex-9-12: calc(100 * 9 / 12);
  --flex-10-12: calc(100 * 10 / 12);
  --flex-11-12: calc(100 * 11 / 12);
  --flex-12-12: calc(100 * 12 / 12);
}

/**
*
* Globals
* 
*/
html, body {
  margin: 0 auto;
}


.container {
  max-width: 1440px;
}

.row {
  display: flex;
}


/**
*
* flex columns
* 
*/
.col-1 {
  flex: 0 0 var(--flex-1-12);
}
.col-2 {
  flex: 0 0 var(--flex-2-12);
}
.col-3 {
  flex: 0 0 var(--flex-3-12);
}
.col-4 {
  flex: 0 0 var(--flex-4-12);
}
.col-5 {
  flex: 0 0 var(--flex-5-12);
}
.col-6 {
  flex: 0 0 var(--flex-6-12);
}
.col-7 {
  flex: 0 0 var(--flex-7-12);
}
.col-8 {
  flex: 0 0 var(--flex-8-12);
}
.col-9 {
  flex: 0 0 var(--flex-9-12);
}
.col-10 {
  flex: 0 0 var(--flex-10-12);
}
.col-11 {
  flex: 0 0 var(--flex-11-12);
}
.col-12 {
  flex: 0 0 var(--flex-12-12);
}
