$col-1: calc(100% * 1 / 12);
$col-2: calc(100% * 2 / 12);
$col-3: calc(100% * 3 / 12);
$col-4: calc(100% * 4 / 12);
$col-5: calc(100% * 5 / 12);
$col-6: calc(100% * 6 / 12);
$col-7: calc(100% * 7 / 12);
$col-8: calc(100% * 8 / 12);
$col-9: calc(100% * 9 / 12);
$col-10: calc(100% * 10 / 12);
$col-11: calc(100% * 11 / 12);
$col-12: calc(100% * 12 / 12);

.col {
  &-1 {
    flex: 0 0 $col-1;
  }
  &-2 {
    flex: 0 0 $col-2;
  }
  &-3 {
    flex: 0 0 $col-3;
  }
  &-4 {
    flex: 0 0 $col-4;
  }
  &-5 {
    flex: 0 0 $col-5;
  }
  &-6 {
    flex: 0 0 $col-6;
  }
  &-7 {
    flex: 0 0 $col-7;
  }
  &-8 {
    flex: 0 0 $col-8;
  }
  &-9 {
    flex: 0 0 $col-9;
  }
  &-10 {
    flex: 0 0 $col-10;
  }
  &-11 {
    flex: 0 0 $col-11;
  }
  &-12 {
    flex: 0 0 $col-12;
  }
}
